<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!--========== CSS ==========-->
    <link rel="stylesheet" href="assets/css/styles.css">


    <title>The World Traveler-TWT</title>
</head>
<body>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="#" class="nav__logo">TWT</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                    <li class="nav__item"><a href="#trip" class="nav__link">Current Trip Offerings</a></li>
                    <li class="nav__item"><a href="#user" class="nav__link">Top Countries Visited</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>

                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <img src="https://png.pngtree.com/png-clipart/20190611/original/pngtree-citytravelglobalization-png-image_2285765.jpg" alt="Simply Easy Learning" width="200" height="200">
                    <h1 class="home__title">The World Traveler-TWT</h1>
                    <h2 class="home__subtitle">Find your next travel destination.</h2>
                    <a href="#" class="button">View Menu</a>
                </div>

                <img src="assets/img/home.png" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">
                <div class="about__data">
                    <h2 class="section-subtitle about__initial">About Us & the Project</h2>
                    <h3 class="section-title about__initial">Just 4 students in ISM 6225 who like to travel</h3>
                    <p class="about__description">From flying to cruising we have tips and tricks in helping you choose the best destination. Some of favorite places to go are Italy, Road trips around Iceland, 14-day cruises from Paris to New York City. We believe that two trips a year keeps the mind sane. </p>
                    <p class="about__description"> What we each did on this project:<p>
                        <li> Jackie: Worked on creating the HTML part
                        <li>Gloria: Worked on XYZ
                        <li>Alex: Worked on XYZ
                        <li>Viviana: Worked on XYZ
                        </li>
                </div>
        </section>

        <!--========== SERVICES ==========-->
        <section class="services section bd-container" id="services">
            <h2 class="section-title">Our amazing services</h2>

            <div class="services__container  bd-grid">
                <div class="services__content">

                    <h3 class="services__title">Travel Management</h3>
                    <p class="services__description">
                        This is our core function. This area of services would include the management and reservation of transport tickets, searches for accommodations, car rentals, etc.
                        Although it is the function that has been performed for the longest period of time, we use new technologies to carried out these tasks, with aspects coming into play such as price comparisons or strategies for obtaining deals and discounts to make sure you get the best deals.
                    </p>
                </div>

                <div class="services__content">

                    <h3 class="services__title">Passenger Assistance</h3>
                    <p class="services__description">On a trip there may be many unforeseen problems and issues which need to be resolved: repatriation due to illness, accident or emergency, lost luggage or documents, etc. We will always be a phone call to way to make sure that all your issues are taken care within a few hours.</p>
                </div>

                <div class="services__content">

                    <h3 class="services__title">Consulting</h3>
                    <p class="services__description">Consulting services include many aspects which are related, more or less directly, with travel: information of interest for the traveler (customs of the country of destination, recommendations on behavior, etc.), cost optimization and control, advice on travel policies, etc.</p>
                </div>

                <div class="services__content">

                    <h3 class="services__title">Marketing and Internal Communication</h3>
                    <p class="services__description">Due to our experience, in travel management we are very helpful in preparing travel policies for companies (rules regarding expenses, management of per diems, etc.), as well as its proper and effective communication to the employees. </p>
                </div>
            </div>
        </section>

        <!--========== Current Trip Offerings ==========-->
        <section class="trip section bd-container" id="trip">
            <h2 class="section-title">Current Trip Offerings</h2>

            <div class="trip__container bd-grid">
                <div class="trip__content">
                    <h3 class="trip__name">Villa del Palmar Cancún Luxury Resort & Spa - Cancun, QR</h3>
                    <img src="https://img.grouponcdn.com/deal/4Y9tkDxjQATf1evyUmWTkwYJbpuR/4Y-2048x1229/v1/c870x524.webp" alt="Simply Easy Learning" width="300" height="200">
                    <br />
                    <span class="trip__detail"> </span>
                    What You Get:
                    <li>Stay for two in a deluxe room or one-bedroom suite
                    <li>All buffets, a la carte meals, and snacks
                    <li>Unlimited vodka, whiskey, tequila, house brands, chilled juices, mineral waters, soft drinks, national beer, and house wine by the glass
                    <li>In-room minibar restocked once daily with soft drinks and beer
                    <li>Basic WiFi access
                    <li> Daily activities and nightly entertainment
                    <li>Nonmotorized watersports
                    <li>Kids Club
                    <li>All Gratuities
                    <li> Shuttle Service to and from the airport in Cancun</li>
                    </span>
                    <br />
                    <span class="trip__price"><b>$408.00 per person (3-days)</b></span>
                </div>

                <div class="trip__content">
                    <h3 class="trip__name">Skamania Lodge - Stevenson, WA</h3>
                    <img src="https://img.grouponcdn.com/deal/YUi49sWQZoKJ8Rno6SXigv1qTZt/YU-700x420/v1/c870x524.webp" alt="Simply Easy Learning" width="300" height="200">
                    <br />
                    <span class="trip__detail"> </span>
                    What You Get:
                    <li>Stay for two in a superior king room or fireside king room, or four in a superior two-double room
                    <li>Guided Hiking for two
                    <li>$100 meal cerdit per day
                    <li>All Gratuities
                    <li> Shuttle Service to and from the local airport</li>
                    </span>
                    <br />
                    <span class="trip__price"><b>$426.00 per person (3-days)</b></span>
                </div>

                <div class="trip__content">
                    <h3 class="trip__name">Whistler's Inn - Jasper, Alberta, Canada</h3>
                    <img src="https://img.grouponcdn.com/deal/apMmLouxW5TpQvbCUAEL/vg-960x582/v1/c870x524.webp" alt="Simply Easy Learning" width="300" height="200">
                    <br />
                    <span class="trip__detail"> </span>
                    What You Get:
                    <li>Stay for two in a standard room or suite
                    <li>Guided Hiking for two
                    <li> Day trip to Jasper National Park-a UNESCO World Heritage Site</li>
                    <li>$200 Spa Cerdit
                    <li>All Gratuities
                    <li> Shuttle Service to and from the local airport</li>
                    </span>
                    <br />
                    <span class="trip__price"><b>$450.00 per person (3-days)</b></span>
                </div>
            </div>
        </section>


        <!--=============Top Countries Visited==============--->
        <section class="app section bd-container" id="user">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Top Countries Visited</span>
                    <canvas id="bar-chart" width="800" height="450"></canvas>
                    <script type="text/javascript">new Chart(document.getElementById("bar-chart"), {
     type: 'bar',
    data: {
      labels: ["France", "Spain", "United States", "China", "Italy"],
      datasets: [
        {
          label: "Number of Visits",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [89400000,82700000,79600000,62900000,62100000]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Top Countires Visted '
      }
    }
});</script>>

                </div>

                <div class="contact__button">
                    <a href="contact.html" class="button"></a>
                </div>
            </div>
        </section>

        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <h2 class="section-title contact__initial">Contact us</h2>


                    <p class="contact__description">If you would like to plan your custom trip or want to book one of our trip offerings please contact us now!</p>
                </div>

                <div class="contact__button">
                    <a href="contact.html" class="button">Contact us now</a>
                </div>
            </div>
        </section>
    </main>

    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">The World Traveler</a>
                <div>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>



            <div class="footer__content">
                <h3 class="footer__title">Contact Infomation</h3>
                <ul>
                    <li>Address: 24 S Franklin St, Tampa, FL 33602</li>
                    <li>Phone: 999 - 888 - 7777</li>
                    <li>Email: exampleemail@gmail.com</li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">&#169; 2021 ISM 6225 Summer. All right reserved</p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="assets/js/main.js"></script>
</body>
</html>
